<div class="contenedor-modal">
  <p align="center" class="title-red" data-toggle="modal" data-target="#miModal">{{ totalDoc}} documentos con reclamos en tr&aacute;mites</p>
</div>
<div class="modal fade" id="miModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"  data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title-2 texto-negrita" id="myModalLabel" >DOCUMENTOS CON RECLAMOS EN TRAMITES</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>    
      <div *ngIf="errorExport" class="alert alert-danger" role="alert" align="center">
        <strong>{{errorExport}}</strong>
      </div>
      <div class="modal-body">
          <div class=" list" *ngFor="let list of list" style="background: rgb(202, 202, 202); color: black; padding-left: 3%; padding-top: 1%;"
          align="left">
          <p class="text-negrita-azul">{{list.currencyCurrencyRep}} {{ list.totalAmount }}</p>
          <div class="row">
            <div class="col-3 texto-negrita">
              <p>Documento:</p>
              <p>Vence el:</p>
            </div>
            <div class="col-6 texto-negrita">
              <p>{{ list.invoiceSpeed }}</p>
              <p>{{ list.expirationDate }}</p>
            </div>
            <div class="col-3" align="center">
                <td style="cursor:pointer" (click)="DownloadInvoice(list.invoiceId,list.invoiceSpeed)"><i class="fa pdf-2 fa-file-pdf-o" aria-hidden="false"> </i></td>
            </div>
            <hr>
          </div>

        </div>
     
      <div class="modal-footer">
        <button type="button" class="btn btn-lg salir" data-dismiss="modal"> Salir </button>
      </div>
    </div>
  </div>
</div>

