<mat-card *ngIf="!mensajeExito" style="width: 80%; margin-left: 10%; margin-top: 2%;">
  <mat-card-title class="color">
    RECUPERAR CONTRASEÑA
  </mat-card-title>
  <mat-card-header style="float:right;">
    <a class="login" [routerLink]="['/']"> Volver al Login</a>
  </mat-card-header>
  <mat-card-content>
    <form class="form" #form="ngForm">

      <mat-form-field class="example-full-width">
        <mat-select placeholder="Tipo de Documento" [(ngModel)]="dataPersona.documentType" #documentType="ngModel" name="documentType"
          required>
          <mat-option *ngFor="let types of documentTypes" [value]=" types.name" required>
            {{ types.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <div *ngIf="documentType.value == 'DNI'">
        <mat-form-field class="example-full-width">
          <input matInput name="dni" #dni="ngModel" [(ngModel)]="dataPersona.dni" placeholder="Documento Nacional de Indentidad" minlength="8"
            maxlength="8" pattern="[0-9]{1,8}" required>
          <mat-error *ngIf="dni.errors?.required"> Campo Obligatorio </mat-error>
          <mat-error *ngIf="dni.errors?.pattern">
            DNI debe ser num&eacute;rico.
          </mat-error>
          <mat-error *ngIf="!dni.errors?.pattern && dni.errors?.minlength">
            DNI debe tener 8 d&iacute;gitos num&eacute;ricos.
          </mat-error>
        </mat-form-field>
      </div>

      <div *ngIf="documentType.value =='CE'">

        <mat-form-field class="example-full-width">
          <input matInput name="carnet" #carnet="ngModel" [(ngModel)]="dataPersona.carnet" placeholder="Carnet de Extranjeria" minlength="12"
            maxlength="12" pattern="[0-9]{1,12}" required>
          <mat-error *ngIf="carnet.errors?.required"> Campo Obligatorio </mat-error>
          <mat-error *ngIf="carnet.errors?.pattern">
            Carnet debe ser num&eacute;rico.
          </mat-error>
          <mat-error *ngIf="!carnet.errors?.pattern && carnet.errors?.minlength">
              Carnet debe tener 12 d&iacute;gitos Alfanumericos.
          </mat-error>
        </mat-form-field>

      </div>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Correo Autorizado" #correoPersona="ngModel" [(ngModel)]="dataPersona.correoPersona" maxlength="50"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required name="correoPersona">
        <mat-error *ngIf="correoPersona.errors?.required"> Campo Obligatorio </mat-error>
        <mat-error *ngIf="correoPersona.errors?.pattern">
          La estructura debe ser : ejemplo@ejemplo.com
        </mat-error>
      </mat-form-field>
      <mat-divider></mat-divider>
      <button mat-raised-button type="submit" class="btn btn-warning but recover" [disabled]="!form.valid" (click)="recoverPerson(dataPersona.dni,dataPersona.correoPersona)">Recuperar</button>
      <button mat-raised-button type="button" class="btn btn-secondary but recover" [routerLink]="['/']">Cancelar</button>
    </form>
  </mat-card-content>
  <mat-card-footer *ngIf="isError">
    <label class="mensajeError">{{errorMessage}}</label>
  </mat-card-footer>
</mat-card>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"></ngx-loading>

<mat-card *ngIf="mensajeExito" style="width: 80%; margin-left: 10%; margin-top: 2%;">
  <mat-card-title class="color">
    RECUPERAR CONTRASEÑA
  </mat-card-title>
  <mat-card-content align="center">
    <mat-card class="alert-success" align="center">
      CONTRASEÑA ENVIADA
      <mat-icon>check_circle_outline</mat-icon>
    </mat-card>
    <mat-card align="center">
      <p>La contraseña de acceso ha sido enviada</p>
      <mat-icon>mail_outline</mat-icon>
      <p>
        <br>Se envío un mensaje al correo electrónico {{dataPersona['correoPersona']}}
        <br> Sigue las instrucciones detalladas en el correo para acceder a tu cuenta
      </p>
    </mat-card>
    <span (click)="recoverPerson(dataPersona.dni,dataPersona.correoPersona)" style="cursor:pointer;color:dodgerblue">
      <mat-icon>reply</mat-icon>
      Reenviar contraseña
    </span>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>
    <mat-grid-list cols="2" rowHeight="2.5em">
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile>
        <button mat-raised-button type="button" class="btn btn-warning" [routerLink]="['/']">Finalizar</button>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-actions>
</mat-card>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"></ngx-loading>