<mat-card class="bg-light">
	<mat-card-title class="titulo-seccion-principal">
		CAMBIAR CONTRASEÑA
	</mat-card-title>
	<mat-card-content>
		<form class="form" #form="ngForm">
			<mat-form-field class="example-width-95">
				<input matInput type="password" id="passwordNew" name="passwordNew" #passwordNew="ngModel" [(ngModel)]="data.passwordNew"
				 minlength="8" maxlength="15" placeholder="Nueva Contraseña" required>
				 <mat-error *ngIf="passwordNew.errors?.required">Campo Obligatorio</mat-error>
				<mat-error *ngIf="passwordNew.errors?.minlength">
					Contrase&ntilde;a debe tener m&iacute;nimo 8 caracteres y m&aacute;ximo 15.
				</mat-error>
			</mat-form-field>
			<br>
			<mat-form-field class="example-width-95">
				<input matInput type="password" id="passwordConfir" name="passwordConfir" #passwordConfir="ngModel" [(ngModel)]="data.passwordConfir"
				 minlength="8" maxlength="15" placeholder="Repetir Nueva Contraseña" required>
				 <mat-error *ngIf="passwordConfir.errors?.required">Campo Obligatorio</mat-error>
				<mat-error *ngIf="passwordConfir.errors?.minlength">
					Contrase&ntilde;a debe tener m&iacute;nimo 8 caracteres y m&aacute;ximo 15.
				</mat-error>
			</mat-form-field>
			<br>
			<a mat-raised-button class="btn btn-warning but" type="reset" (click)="onClick()"> Limpiar </a>
			<button mat-raised-button class="btn btn-warning but" type="submit" [disabled]="!form.valid" (click)="changePassword(data.passwordNew, data.passwordConfir)">
				Cambiar
			</button>
		</form>
	</mat-card-content>
	<mat-card-footer>
		<div class="mensajeError">{{msg}}</div>
	</mat-card-footer>
</mat-card>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"></ngx-loading>


<div class="modal fade" id="mostrarmodal" aria-hidden="false" style="padding-top:10%" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<!--<h4 class="modal-title">Mensaje</h4>-->
				<button type="button" class="close" data-dismiss="modal" (click)="onClickMe()">&times;</button>
			</div>
			<!-- Modal body -->
			<div class="modal-body" style="text-align:center">

				<div class="alert alert-success" role="alert">
					<h4>Contraseña modificada <br> Correctamente</h4>	
					<fa style="text-align: center;font-size:8em ;color:green" name="far fa-check-circle fa-12"></fa>			
				</div>				
			</div>
			<!-- Modal footer -->
			<div class="modal-footer">
				<hr>
			</div>
		</div>
	</div>
</div>